/* POLICE DÉBUT */
@font-face {
    font-family: 'roboto';
    src: url('static2/Roboto-Regular.ttf');

}
@font-face {
    font-family: 'shrikhand';
    src: url('static2/Shrikhand-Regular.ttf');
}
/* POLICE FIN */

body
{
    margin: 0px;
}

/* BLOC PAGE DÉBUT */
#bloc_page
{
    margin: auto;
    max-width: 1400px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
/* BLOC PAGE FIN */

/* HEADER DÉBUT */
header
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.contentlogo
{
    display: flex;
    justify-content: center;
    padding: 15px 0px;
    background-color: #FFFFFF;
    width: 100%;
    filter: drop-shadow(1px 1px 2px grey);
}
.logo img
{
    width: 100%;
    height: 35px;
}
.localisation
{
    display: flex;
    flex-direction: row;
    background-color: #EAEAEA;
    width: 100%;
    justify-content: center;
}
.fa-sharp.fa-solid.fa-location-dot
{
    color: #353535;
    display: flex;
    align-items: center;
    padding-right: 20px;
}
.menulocation
{
    font-family: 'roboto';
    font-weight: 600;
    font-size: 1em;
    color: #353535;
}
/* HEADER FIN */

/*PRESENTATION DÉBUT */
.presentation1
{
    font-family: 'roboto';
    font-weight: 700;
    font-size: 1.8em;
}
.presentation2
{
    font-family: 'roboto';
    font-weight: 100;
    font-size: 1.2em;
    color: #353535
}
input
{
    font-family: 'roboto';
    font-weight: 600;
    font-size: 1em;
    color: #FFFFFF;
    background: linear-gradient(-5deg, #9356DC, #FF79DA);
    border-radius: 30px;
    border: none;
    width: 21%;
    padding: 20px 15px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}
.presentation
{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 3px;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;
    background-color: #F7F7F7;
}
/*PRESENTATION FIN */

/* FONCTIONNEMENT DÉBUT */
.section1
{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.fonctionnement
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.titrefonctionnement
{
    font-family: 'roboto';
    font-weight: 600;
    font-size: 1.2em;
    padding-top: 10px;
}
.etapefonction
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    width: 280px;
    height: 60px;
    border: 1px solid #F7F7F7;
    border-radius: 20px;
    background-color: #F7F7F7;
    filter: drop-shadow(5px 5px 2px #ECECEC);
    margin-top: 20px;
}
.etape
{
    font-family: 'roboto';
    font-weight: 500;
    font-size: 1em;
}
.numero
{
    font-family: 'roboto';
    font-size: 0.8em;
    background-color: #9356DC;
    color: #FFFFFF;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30%;
    right: 96%;
}
.fa-solid.fa-store, .fa-solid.fa-list-ul, .fa-solid.fa-mobile-screen-button
{
    padding-right: 20px;
    color: #7E7E7E
}
/* FONCTIONNEMENT FIN */

/* RESTAURANT DÉBUT */
.imgrestaurant
{
    width: 100%;
    height: 150px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;        
}
.section2
{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    width: 96%;
    height: 650px;
    margin: auto;
    background-color: #F7F7F7;
}
.article2
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    gap:35px;
    height: 280px;
}
.restaurant
{
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: #FFFFFF;
    border-radius: 20px 20px 20px 20px;
    filter: drop-shadow(1px 1px 2px grey);   
}
.titrerestaurant
{
    
}
/* RESTAURANT FIN */

/* FOOTER DÉBUT */
footer
{
    display: flex;
    flex-direction: column;
    background-color: #353535;
    justify-content: space-between;
    width: 100%;
    margin: auto;    
}
.contentlogo2
{
    display: flex;
    padding: 20px 0px;
    width: 100%;
}
.logo2 img
{
    width: 80%;
    height: 20px;
    filter: invert(100%);
    padding-left: 30px;    
}
.footer1
{
    display: flex;
    flex-direction: column;
    font-family: 'roboto';
    color:#FFFFFF;
    padding-left: 30px;    
    line-height: 1em;
    padding-bottom: 30px;
}
.footer2
{
    height: 0px;
}
.fa-solid.fa-handshake-angle, .fa-solid.fa-utensils
{
    padding-right: 10px;
}
h1
{
    font-family: 'roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 1.1em;
}
h2
{
    font-family: 'roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 1.1em;
}
/* FOOTER FIN */

/*RESPONSIVE TABLETTE DÉBUT */
@media screen and (max-width: 992px) 
{
    body
    {
        margin: 0px;
    }
    #bloc_page
    {
        margin: auto;
        max-width: 992px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

}
/*RESPONSIVE TABLETTE FIN */

/*RESPONSIVE PORTABLE DÉBUT */
@media screen and (max-width: 768px)
{
    body
    {
        margin: 0px;
    }
    #bloc_page
    {
        max-width: 768px;
        margin: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    /* FOOTER FIN */
}
/*RESPONSIVE PORTABLE FIN */