.menu {
    &__carte {
        @include flexcentre;
        height: 100%;
        margin: 10px 0;
        background-color: $background-primary;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        border-radius: 17px;
        width: 100%;
        max-width: 600px; 
        animation: apparition-progressive 800ms 200ms ease-in backwards;
        @for $i from 1 through 4 {
            &--#{$i} {
                animation-delay: 300ms * $i;
            }
        }
        &:hover {
            .menu__check {
                z-index: 100;
                opacity: 1;
                width: 20%;
                transform: translateX(0px);
                transition: transform 600ms;
                i {
                    transform: rotate(360deg);
                    transition: transform 600ms;
                }
            }
            .menu__contenu {
                width: 80%;
            }
        }
    }
    &__check { 
        @include flexcentre;
        width: 0px;
        height: 72px;
        border-radius: 0px 17px 17px 0px;
        background: $colour-tertiary;
        transform: translateX(50px);
        transition: 800ms;
        z-index: -200;
        opacity: 0;
        i {
            color: white;
            font-size: 1.8em;
            transform: rotate(0deg);
            transition: transform 600ms 180ms;
        }
    }
    &__contenu {  
        width: 100%;
    }
        &__nom {
        font-family: $font-primary;
        padding: 15px 0 5px 10px;
        font-size: 1.1em;
        font-weight: 600;
    }
        &__info {
        font-family: $font-primary;
        display: flex;
        justify-content: space-between;
        padding: 0 20px 10px 10px;
        color: $colour-footer;
    }
        &__accompagnement {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
        &__prix {
        font-weight: 600;
    }

}


