.menu {
    &__article {
        @include flexcentre;
        height: 100%;
        margin: 10px 0;
        &:hover {
            .menu__check {
                opacity: 1;
                transform: translateX(-100%);
                i {
                    transform: rotate(360deg);
                }
            }
            .menu__prix {
                transform: translateX(-70px);
                transition: 400ms;
            }
        }
    }
    &__carte {
        background-color: $background-primary;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        border-radius: 17px;
        width: 750px;
        max-width: 800px;
        animation: apparition-progressive 800ms 200ms ease-in backwards;
        @for $i from 1 through 4 {
            &--#{$i} {
                animation-delay: 200ms * $i;
            }
        }                      
    }
        &__nom {
        font-family: $font-primary;
        padding: 15px 0 5px 10px;
        font-size: 1.1em;
        font-weight: 600;
    }
        &__info {
        font-family: $font-primary;
        display: flex;
        justify-content: space-between;
        padding: 0 20px 10px 10px;
        color: $colour-footer;
    }
        &__accompagnement {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 230px;
    }
        &__prix {
        font-weight: 600;
    }
    &__check { 
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 72px;
        border-radius: 0px 17px 17px 0px;
        background: $colour-tertiary;
        opacity: 0;
        transform: translateX(0%);
        transition: all 400ms;
        i {
            color: white;
            font-size: 1.8em;
            transform: rotate(0deg);
            transition: all 400ms ease-in-out 100ms;
        }
    }
}


