.carte {
    &__coeur {
        font-size: 30px;
        position: absolute;
        left: 88%;
        bottom: 8%;
        opacity: 1;
        transition: opacity 600ms;
        &:hover {
                opacity: 0;;
        }
    }  
    &__coeur__plein {
        font-size: 30px;
        position: absolute;
        left: 88%;
        bottom: 8%;
        background: $degrade-coeur;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        opacity: 0;
        transition: opacity 600ms;
        &:hover {
            opacity: 1;
        }
    }
}
.menu {
    &__restaurant__coeur {
        font-size: 30px;
        padding-top: 10px;
       }
}  

