body {
    margin: 0px;
}
#bloc_page {
    background-color: $text-secondary;
    margin: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    @media (max-width: 992px) {
        max-width: 992px;
    }
    @media (max-width: 1400px) {
        max-width: 1400px;
        width: 100%;
    }
}