@keyframes apparition-progressive {
    from {
        transform: translateY(10px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes load {
    from {
        opacity: 1;   
        z-index: 2;
    }
    to {
        opacity: 0;      
        z-index: -100;
    }
}
@keyframes rotation {
    from {
        transform:rotate(0turn);
    }
    to {
        transform:rotate(1turn);
    }
}