@mixin bouton-hover {
    filter: drop-shadow(8px 8px 4px grey);
    opacity: 85%;
}
@mixin typographie {
    font-family: $font-primary;
    font-weight: 600;
    font-size: 1em;
}
@mixin flexcentre {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flexcolumn {
    display: flex;
    flex-direction: column;
}
