@mixin btn-hover {
    box-shadow: $shadow-hover;
    filter: brightness(110%);
}
@mixin typographie {
    font-family: $font-primary;
    font-weight: 600;
    font-size: 1em;
}
@mixin flexcentre {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
@mixin flexcolumn {
    display: flex;
    flex-direction: column;
}