$colour-primary: rgb(147, 86, 220);
$colour-secondary: rgb(255, 121, 218);
$colour-tertiary: #99E2D0;
$text-secondary: #f7f7f7;
$background-primary : #FFFFFF;
$colour-footer: #353535;
$degrade: linear-gradient(-5deg, #9356DC, #FF79DA);
$degrade-coeur: linear-gradient(50deg, #FF79DA, #9356DC);

$font-primary: 'Roboto';
$font-secondary: 'shrikhand';